@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}
#main-doc{
  overflow-x: hidden;
}

#navbar{
  position: fixed;
  top: 0;
  left: 0;
  color: black;
  width: 300px;
  min-width: 290;
  height: 100%;
  border-right: solid gray; 
}

#navbar > header{
  font-family: sans-serif;
  font-weight: 400px;
  font-size: 30px;
  margin: 10px 0 0 10px;
  padding: 10px;
}

#navbar > ul{
  margin-left: 0;
  padding-left: 0px;
}

#navbar > ul > li{
  list-style-type: none;
  font-size: 16px;
  font-family: sans-serif;
  padding: 10px;
  color: rgb(107, 96, 96);
  border-top: 1px solid black;
}

#navbar > ul > li > a{
  text-decoration: none;
}

#main-doc{
  margin-left: 310px;
}

.main-section{
  font-family: sans-serif;
  margin-left: 10px;
  color: rgb(56, 43, 43);
  font-size: 15px;
}

.main-section > header{
  font-size: 28px;
  font-family: sans-serif;
  margin-top: 15px;
}

.main-section > ul > li{
  margin-left: 10px;
}

 .main-section > ul > ul > li{
  margin: 10px 0 0 10px;
}

.main-section > p{
  font-family: sans-serif;
  margin-left: 15px;
  color: rgb(56, 43, 43);
}

code{
  display: block;
  text-align: left;
  width: 100%;
  margin-left: 25px;
  background-color: rgb(241, 237, 237);
  padding: 15px;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  border-radius: 5px;
}
